{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    <div>
        <ul type="disk">
            <li>방송국 위치</li>
            <p>대전광역시 유성구 대학로 291, 한국과학기술원(KAIST)</p>
            <p>학생식당(N11) 3104호 KAIST방송국 V.O.K</p>
            <p> </p>
            <li>대표 연락처</li>
            <p>국 장 : 이건용 (010-5055-4654)</p>
            <p>부국장 : 박윤주 (010-2230-7539)</p>
            <p> </p>
            <li>장비 관련 문의</li>
            <p>기술부장 : 이승혜 (010-2583-9808)</p>
            <li>e-mail</li>
            <p>vok.admin@gmail.com</p>
            <li>공식 홈페이지</li>
            <p>http://vok.kaist.ac.kr</p>
        </ul>
    </div>
{% endblock content %}