{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    <table class>
        <thead>
        <tr>
            <th scope = "cols">번호</th>
            <th scope = "cols">제목</th>
            <th scope = "cols">작성자</th>
            <th scope = "cols">날짜</th>
            <th scope = "cols">조회수</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <th scope = "row">{{ forloop.counter }}</th>
                <td class="title"><a href = "{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></td>
                <td class="author">{{ post.author }}</td>
                <td class="date">{{ post.published_date }}</td>
                <td class="hits">{{ post.hits }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
