@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Baloo');

h1 a {
    color: #FCA205;
    font-family: 'Baloo';
}

h2, h3, h4 a {
    font-family: 'Ubuntu';
    color: #000000;
}

body {
        padding-left: 15px;
}

.dropdown-title {
    color: #5E5E5E;
    font-family: 'Ubuntu';
}

.dropdown-menu {
    font-family: 'Nanum Gothic';
}

.page-header {
    background: -webkit-linear-gradient(-45deg, #46124f 0%,#960482 36%,#518be8 100%);
    /* -webkit-linear-gradient(top, #aa318a 1%,#a759d1 40%,#2989d8 97%); /* Chrome10-25,Safari5.1-6 */
    /*background: filter=progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#f09ce0 , EndColorStr=#ffeda3 );
    */margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

table {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.0;
    border-top: 1px solid #ccc;
    margin : 10px 5px;
}
table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: center;
    color: #369;
    border-bottom: 3px solid #036;
    text-align: center;

}
table tbody th {
    width: 100px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
table td.title {
    width: 1300px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table td.author {
    width: 100px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
table td.date {
    width: 225px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
table td.hits {
    width: 100px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    text-align: center;
}